shell-integration = detect
theme = dark:Catppuccin Frappe,light:Catppuccin Latte


#
# Tmux-like leader sequences using your C-a prefix.
keybind = ctrl+a>ctrl+a=text:\x01
keybind = ctrl+a>c=new_tab
keybind = ctrl+a>C=new_window
keybind = ctrl+a>v=new_split:right
keybind = ctrl+a>s=new_split:down
keybind = ctrl+a>n=next_tab
keybind = ctrl+a>m=previous_tab
keybind = ctrl+a>h=goto_split:right
keybind = ctrl+a>j=goto_split:down
keybind = ctrl+a>k=goto_split:up
keybind = ctrl+a>l=goto_split:left
keybind = ctrl+a>o=goto_split:next
keybind = ctrl+a>z=toggle_split_zoom
keybind = ctrl+a>[=previous_tab
keybind = ctrl+a>]=next_tab
keybind = ctrl+a>r=reload_config
keybind = ctrl+a>w=close_surface
